@page "/projects/part/{PartId:int}"
@inject IEmptyClass EmptyClass
@inject RelationDataAccess relationDataAccess

<PageTitle>Projects - @EmptyClass.Location</PageTitle>
<ProjectNavigation emptyClass="@EmptyClass"></ProjectNavigation>

<!-- Info cards -->
<div class="row">
    <div class="col-lg-4 mb-3">
        <div class="card p-0 h-100" style="background-image: linear-gradient(180deg, rgba(25,55,80,1) 0%, rgba(50,110,129,1) 80%); color: rgb(250,250,250); ">
            <div class="card-header">
                Info card
            </div>
            <div class="card-body">
                <h6>Info header</h6>
                <p class="card-text">Informaton text here</p>
                <p class="card-text">Informaton text here</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card p-0 h-100" style="background-image: linear-gradient(180deg, rgba(25,55,80,1) 0%, rgba(50,110,129,1) 80%); color: rgb(250,250,250); ">
            <div class="card-header">
                Info card
            </div>
            <div class="card-body">
                <h6>Info header</h6>
                <p class="card-text">Informaton text here</p>
                <p class="card-text">Informaton text here</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card p-0 h-100" style="background-image: linear-gradient(180deg, rgba(25,55,80,1) 0%, rgba(50,110,129,1) 80%); color: rgb(250,250,250); ">
            <div class="card-header">
                Info card
            </div>
            <div class="card-body">
                <h6>Info header</h6>
                <p class="card-text">Informaton text here</p>
                <p class="card-text">Informaton text here</p>
            </div>
        </div>
    </div>
</div>
<!--  Edit menu -->
<div class="dropup" style=" position: absolute; right: 20px; bottom: 20px;">
    <button type="button" class="btn btn-primary dropdown p-1" data-bs-toggle="dropdown">
        <span class="oi oi-plus p-1" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu">
        <li><button type="button" data-bs-toggle="modal" data-bs-target="#editRelationModal" class="dropdown-item">Edit</button></li>
    </ul>
</div>
<!-- Modals -->
<EditRelationModal UpdatedRelation="@part" ParentId="@part.Parent_id" OnSubmitCallback="@SubmitUpdatePart"></EditRelationModal>
@code {
    [Parameter]
    public int PartId { get; set; }
    public RelationModel part = new();
    protected override void OnInitialized()
    {
        GetRelationWithId();
        EmptyClass.SetPart(part.Relation_name, PartId);
    }
    //Get relation
    private void GetRelationWithId()
    {
        part = relationDataAccess.GetRelation(PartId);
    }
    #region FeatureUpdatePart
    private void SubmitUpdatePart()
    {
    }
    #endregion
}