@inject IEmptyClass EmptyClass

<nav class="nav bg-body-tertiary">
    <!-- Navbar content -->
    @if (@EmptyClass.location is not null)
    {
        <a class="nav-link" href="projects/location/@EmptyClass.locationId">@EmptyClass.location</a>
    }
    @if (@EmptyClass.dept is not null)
    {
        <a class="nav-link" href="projects/department/@EmptyClass.deptId">@EmptyClass.dept</a>
    }
    @if (@EmptyClass.proj is not null)
    {
        <a class="nav-link" href="projects/project/@EmptyClass.projId">@EmptyClass.proj</a>
    }
</nav>

@code {

}

