@inject IEmptyClass EmptyClass

<div class="nav mb-3" style="border-radius: 6px; border-color: rgba(0, 0, 0, 0.176); background-image: linear-gradient(180deg, rgba(25,55,80,1) 0%, rgba(25,55,80,1) 80%); border-width: 1px; border-style: solid; ">
    <!-- Navbar content -->
    @if (@emptyClass.Location is not null)
    {
        <div class="nav-item ps-3">
            <a class="nav-link px-2" href="projects/location/@emptyClass.LocationId" style="color: rgb(250,250,250);">
                @emptyClass.Location
            </a>
        </div>
    }
    @if (@emptyClass.Department is not null)
    {
        <div class="nav-item">
            <a class="nav-link px-2" href="projects/department/@emptyClass.DepartmentId" style="color: rgb(250,250,250);">
                @emptyClass.Department
            </a>
        </div>
    }
    @if (@emptyClass.Project is not null)
    {
        <div class="nav-item">
            <a class="nav-link px-2" href="projects/project/@emptyClass.ProjectId" style="color: rgb(250,250,250);">
                @emptyClass.Project
            </a>
        </div>
    }
    @if (@emptyClass.Controller is not null)
    {
        <div class="nav-item">
            <a class="nav-link px-2" href="projects/controller/@emptyClass.ControllerId" style="color: rgb(250,250,250);">
                @emptyClass.Controller
            </a>
        </div>
    }
    @if (@emptyClass.ControlGroup is not null)
    {
        <div class="nav-item">
            <a class="nav-link px-2" href="projects/control-group/@emptyClass.ControlGroupId" style="color: rgb(250,250,250);">
                @emptyClass.ControlGroup
            </a>
        </div>
    }
    @if (@emptyClass.FunctionGroup is not null)
    {
        <div class="nav-item">
            <a class="nav-link px-2" href="projects/function-group/@emptyClass.FunctionGroupId" style="color: rgb(250,250,250);">
                @emptyClass.FunctionGroup
            </a>
        </div>
    }
    @if (@emptyClass.Machine is not null)
    {
        <div class="nav-item">
            <a class="nav-link px-2" href="projects/machine/@emptyClass.MachineId" style="color: rgb(250,250,250);">
                @emptyClass.Machine
            </a>
        </div>
    }
    @if (@emptyClass.Part is not null)
    {
        <div class="nav-item">
            <a class="nav-link px-2" href="projects/part/@emptyClass.PartId" style="color: rgb(250,250,250);">
                @emptyClass.Part
            </a>
        </div>
    }
</div>
@code 
{
    [Parameter]
    public IEmptyClass? emptyClass { get; set; }
}